.wrapper {
    width: 90%;
    margin: 10% auto;
}

ion-item {
    margin: 10% auto 3%;
    --background: #cac6c6;
    border-radius: 10px;
}

ion-footer {
    background: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 600;
}